/* This is where styles are defined for your page. */
/* One style is provided as example. */

body {
	background-image: url('images/sand.jpg');
	background-size: contain;
	font-family: arial; 
}


h1, h2, h3, h4, h5, h6 {
	font-family: verdana;
}

header.page-header {
	border: solid 2px black;
	padding: 2rem;
}
.page-header h1 {
	margin-bottom: 0;
}
.page-header p {
	margin-top: 0;
}
.page-header small {
	font-size: medium;
}
aside.more-info {
	border: solid 2px black;
	padding: 2rem;
	float: right;
	background: cyan;
}
.more-info ul {
	list-style-type: none;
}
.social-links li {
	display: inline;
	text-decoration: none;
}

aside.more-info img {
	width: 150px; 
	height: auto;
	border: solid 1px black;
}

section#content {
	border: solid 2px black;
	background-color: white;
}
.poem {
	list-style-type: none;
}
.poem li {
	font-size: large;
	line-height: 2.0;
	font-weight: bold;
}
footer.content-footer {
	padding: 2rem;
}

footer.page-footer {
	border: solid 2px black;
	padding: 2rem;
	background-color: white;
	color: darkgoldenrod;
}

